<!-- The customer review section  -->
<section class="customer-review">
    <h1 class="heading">Customer's <span>Review</span></h1>
    <div class="container">
      <div class="box">
        <div class="ratings">
          <img src="icons/star.png" alt="" height="20px" />
          <img src="icons/star.png" alt="" height="20px" />
          <img src="icons/star.png" alt="" height="20px" />
          <img src="icons/star.png" alt="" height="20px" />
          <img src="icons/star.png" alt="" height="20px" />
        </div>
        <p>
          Some comment from a customer about the services that was offered and
          how satisfied they where with the services. The customers comment
          may attract other customers that is why it is important to serve the
          customer well so that they leave a good review.
        </p>
        <div class="customer">
          <img src="images/Festus.jpeg" alt="" />
          <div class="user-info">
            <h3>Customer Name</h3>
            <span>Happy Customer</span>
          </div>
        </div>
      </div>

      <div class="box">
        <div class="ratings">
          <img src="icons/star.png" alt="" height="20px" />
          <img src="icons/star.png" alt="" height="20px" />
          <img src="icons/star.png" alt="" height="20px" />
          <img src="icons/star.png" alt="" height="20px" />
          <img src="icons/star.png" alt="" height="20px" />
        </div>
        <p>
          Some comment from a customer about the services that was offered and
          how satisfied they where with the services. The customers comment
          may attract other customers that is why it is important to serve the
          customer well so that they leave a good review.
        </p>
        <div class="customer">
          <img src="images/Serah.jpg" alt="" />
          <div class="user-info">
            <h3>Customer Name</h3>
            <span>Happy Customer</span>
          </div>
        </div>
      </div>

      <div class="box">
        <div class="ratings">
          <img src="icons/star.png" alt="" height="20px" />
          <img src="icons/star.png" alt="" height="20px" />
          <img src="icons/star.png" alt="" height="20px" />
          <img src="icons/star.png" alt="" height="20px" />
          <img src="icons/star.png" alt="" height="20px" />
        </div>
        <p>
          Some comment from a customer about the services that was offered and
          how satisfied they where with the services. The customers comment
          may attract other customers that is why it is important to serve the
          customer well so that they leave a good review.
        </p>
        <div class="customer">
          <img src="images/Festus.jpg" alt="" />
          <div class="user-info">
            <h3>Customer Name</h3>
            <span>Happy Customer</span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- The customer review section ends  -->
