<%- include('partials/header') %>

<section class="explore">
    <div class="container">
        <h1>EXPLORE-MORE</h1>
        <div class="text">
            <p>
                Some text about our Furnitures, doesn't need to be long just a
                paragraph which is brief and straight to the point. No need to think
                too much just bring it out, all is well!
            </p>
        </div>
    </div>
</section>

<!-- Living room furnitures  -->
<section class="furniture-section">
  <h1>Living Furnitures</h1>
  <div class="container">
    <div class="item">
      <div class="image">
        <img src="images/13T.jpg" alt="" />
      </div>
      <h3>3 seater couch</h3>
      <h2>K12,500</h2>
    </div>
    <div class="item">
      <div class="image">
        <img src="images/21.jpg" alt="" />
      </div>
      <h3>Solo Sofa</h3>
      <h2>K5,500</h2>
    </div>
    <div class="item">
      <div class="image">
        <img src="images/22.jpg" alt="" />
      </div>
      <h3>Morden Chair</h3>
      <h2>K6,500 each</h2>
    </div>
    <div class="item">
      <div class="image">
        <img src="images/24.jpg" alt="" />
      </div>
      <h3>Name of Furniture</h3>
      <h2>$200.00</h2>
    </div>
    <div class="item">
      <div class="image">
        <img src="images/explore.jpg" alt="" />
      </div>
      <h3>Name of Furniture</h3>
      <h2>$300.00</h2>
    </div>
    <div class="item">
      <div class="image">
        <img src="images/14T.jpg" alt="" />
      </div>
      <h3>Fancy Arm Chair</h3>
      <h2>K6,500</h2>
    </div>
    <div class="item">
      <div class="image">
        <img src="images/9T.jpg" alt="" />
      </div>
      <h3>Name of Furniture</h3>
      <h2>$400.00</h2>
    </div>
    <div class="item">
      <div class="image">
        <img src="images/28.jpg" alt="" />
      </div>
      <h3>Name of Furniture</h3>
      <h2>$100.00</h2>
    </div>
    <div class="item">
      <div class="image">
        <img src="images/32.jpg" alt="" />
      </div>
      <h3>Name of Furniture</h3>
      <h2>$300.00</h2>
    </div>
  </div>
</section>

<!-- Outdoor furnitures  -->
<section class="furniture-section">
  <h1>Tables</h1>
  <div class="container">
    <div class="item">
      <div class="image">
        <img src="images/1.jpg" alt="" />
      </div>
      <h3>Name of Furniture</h3>
      <h2>$200.00</h2>
    </div>
    <div class="item">
      <div class="image">
        <img src="images/8.jpg" alt="" />
      </div>
      <h3>Name of Furniture</h3>
      <h2>$300.00</h2>
    </div>
    <div class="item">
      <div class="image">
        <img src="images/10T.jpg" alt="" />
      </div>
      <h3>Name of Furniture</h3>
      <h2>$400.00</h2>
    </div>
    <div class="item">
      <div class="image">
        <img src="images/12T.jpg" alt="" />
      </div>
      <h3>Name of Furniture</h3>
      <h2>$200.00</h2>
    </div>
    <div class="item">
      <div class="image">
        <img src="images/5.jpg" alt="" />
      </div>
      <h3>Name of Furniture</h3>
      <h2>$300.00</h2>
    </div>
    <div class="item">
      <div class="image">
        <img src="images/17.jpg" alt="" />
      </div>
      <h3>Name of Furniture</h3>
      <h2>$500.00</h2>
    </div>
    <div class="item">
      <div class="image">
        <img src="images/18.jpg" alt="" />
      </div>
      <h3>Name of Furniture</h3>
      <h2>$400.00</h2>
    </div>
    <div class="item">
      <div class="image">
        <img src="images/19.jpg" alt="" />
      </div>
      <h3>Name of Furniture</h3>
      <h2>$100.00</h2>
    </div>
    <div class="item">
      <div class="image">
        <img src="images/10T.jpg" alt="" />
      </div>
      <h3>Name of Furniture</h3>
      <h2>$300.00</h2>
    </div>
  </div>
</section>

<!-- Living room furnitures  -->
<section class="furniture-section">
  <h1>Stools</h1>
  <div class="container">
    <div class="item">
      <div class="image">
        <img src="images/30.jpg" alt="" />
      </div>
      <h3>Name of Furniture</h3>
      <h2>$200.00</h2>
    </div>
    <div class="item">
      <div class="image">
        <img src="images/31.jpg" alt="" />
      </div>
      <h3>Name of Furniture</h3>
      <h2>$300.00</h2>
    </div>
    <div class="item">
      <div class="image">
        <img src="images/33.jpg" alt="" />
      </div>
      <h3>Name of Furniture</h3>
      <h2>$400.00</h2>
    </div>
    <div class="item">
      <div class="image">
        <img src="images/34.jpg" alt="" />
      </div>
      <h3>Name of Furniture</h3>
      <h2>$200.00</h2>
    </div>
    <div class="item">
      <div class="image">
        <img src="images/35.jpg" alt="" />
      </div>
      <h3>Name of Furniture</h3>
      <h2>$300.00</h2>
    </div>
    <div class="item">
      <div class="image">
        <img src="images/27.jpg" alt="" />
      </div>
      <h3>Name of Furniture</h3>
      <h2>$500.00</h2>
    </div>
    <div class="item">
      <div class="image">
        <img src="images/4.jpg" alt="" />
      </div>
      <h3>Name of Furniture</h3>
      <h2>$400.00</h2>
    </div>
    <div class="item">
      <div class="image">
        <img src="images/3.jpg" alt="" />
      </div>
      <h3>Name of Furniture</h3>
      <h2>$100.00</h2>
    </div>
    <div class="item">
      <div class="image">
        <img src="images/2.jpg" alt="" />
      </div>
      <h3>Name of Furniture</h3>
      <h2>$300.00</h2>
    </div>
  </div>
</section>

<!-- Living room furnitures  -->
<section class="furniture-section">
  <h1>Final detail</h1>
  <div class="container">
    <div class="item">
      <div class="image">
        <img src="images/15.jpg" alt="" />
      </div>
      <h3>Name of Furniture</h3>
      <h2>$200.00</h2>
    </div>
    <div class="item">
      <div class="image">
        <img src="images/16.jpg" alt="" />
      </div>
      <h3>Name of Furniture</h3>
      <h2>$300.00</h2>
    </div>
    <div class="item">
      <div class="image">
        <img src="images/20.jpg" alt="" />
      </div>
      <h3>Name of Furniture</h3>
      <h2>$400.00</h2>
    </div>
    <div class="item">
      <div class="image">
        <img src="images/23.jpg" alt="" />
      </div>
      <h3>Name of Furniture</h3>
      <h2>$200.00</h2>
    </div>
    <div class="item">
      <div class="image">
        <img src="images/25.jpg" alt="" />
      </div>
      <h3>Name of Furniture</h3>
      <h2>$300.00</h2>
    </div>
    <div class="item">
      <div class="image">
        <img src="images/26.jpg" alt="" />
      </div>
      <h3>Name of Furniture</h3>
      <h2>$500.00</h2>
    </div>
    <div class="item">
      <div class="image">
        <img src="images/36.jpg" alt="" />
      </div>
      <h3>Name of Furniture</h3>
      <h2>$400.00</h2>
    </div>
    <div class="item">
      <div class="image">
        <img src="images/8.jpg" alt="" />
      </div>
      <h3>Name of Furniture</h3>
      <h2>$100.00</h2>
    </div>
    <div class="item">
      <div class="image">
        <img src="images/5.jpg" alt="" />
      </div>
      <h3>Name of Furniture</h3>
      <h2>$300.00</h2>
    </div>
  </div>
</section>


<%- include('partials/review') %>
<%- include('partials/footer') %>