<%- include('partials/header') %>

<section class="home">
  <div class="container">
    <div class="text">
      <h1>Innovation Is a Lifestyle</h1>
      <p>
        Create a space that reflects your personality and style. Browse our
        curated collection of handcrafted furniture, designed to bring comfort,
        elegance, and joy to your home.
      </p>
      <a class="btn" href="index.html#best-selling">Explore</a>
    </div>
    <!-- <div class="image">
                <img src="images/couch.png" alt="">
            </div> -->
  </div>
</section>

<!-- The Service Section  -->

<section class="services">
  <h1>Our <span>Services</span></h1>
  <p>
    Our experienced team provides comprehensive solutions for homeowners and
    businesses, guaranteeing quality workmanship and prompt project completion.
    Trust us to handle your building needs, from minor repairs to major
    renovations.
  </p>
  <div class="container">
    <div>
      <i class="fa-solid fa-chair"></i>
      <h2>Vanishing Services</h2>
      <p>
        Our comprehensive services include custom furniture design, restoration,
        installation, and space planning consultation.
      </p>
    </div>
    <div>
      <i class="fa-solid fa-screwdriver-wrench"></i>
      <h2>Reupholstering Services</h2>
      <p>
        When it comes to Illuminating Your Space with Expert Electrical
        Solutions we've got you covered.
      </p>
    </div>
    <div>
      <i class="fa-solid fa-swatchbook"></i>
      <h2>Customized Furnitures</h2>
      <p>
        For reliable plumbing services We ensure your water system is safe,
        efficient, and reliable.
      </p>
    </div>
  </div>
</section>

<section class="best-selling" id="best-selling">
  <h1><span>Best</span> Selling</h1>
  <div class="container">
    <div class="slider">
      <div class="slider-item">
        <div class="image">
          <img src="images/1.jpg" alt="" />
        </div>
        <h3>Name of Furniture</h3>
        <h2>$300.00</h2>
      </div>
      <div class="slider-item">
        <div class="image">
          <img src="images/9T.jpg" alt="" />
        </div>
        <h3>Name of Furniture</h3>
        <h2>$300.00</h2>
      </div>
      <div class="slider-item">
        <div class="image">
          <img src="images/10T.jpg" alt="" />
        </div>
        <h3>Name of Furniture</h3>
        <h2>$400.00</h2>
      </div>
      <div class="slider-item">
        <div class="image">
          <img src="images/11T.jpg" alt="" />
        </div>
        <h3>Name of Furniture</h3>
        <h2>$200.00</h2>
      </div>
      <div class="slider-item">
        <div class="image">
          <img src="images/5.jpg" alt="" />
        </div>
        <h3>Name of Furniture</h3>
        <h2>$300.00</h2>
      </div>
      <div class="slider-item">
        <div class="image">
          <img src="images/12T.jpg" alt="" />
        </div>
        <h3>Name of Furniture</h3>
        <h2>$500.00</h2>
      </div>
      <div class="slider-item">
        <div class="image">
          <img src="images/13T.jpg" alt="" />
        </div>
        <h3>Name of Furniture</h3>
        <h2>$400.00</h2>
      </div>
      <div class="slider-item">
        <div class="image">
          <img src="images/14T.jpg" alt="" />
        </div>
        <h3>Name of Furniture</h3>
        <h2>$100.00</h2>
      </div>
    </div>
  </div>
</section>
<section class="stock">
  <h1>In <span>Stock</span></h1>
  <p>
    Explore our wide range of in-stock furniture, ready to transform your space!
    From sleek, modern designs to timeless, classic pieces, we offer something
    for every taste and need. Elevate your home with our exceptional collection
    today!
  </p>
  <div class="container">
    <div class="item">
      <div class="image">
        <img src="images/1.jpg" alt="" />
      </div>
      <h3>Name of Furniture</h3>
      <h2>$200.00</h2>
    </div>
    <div class="item">
      <div class="image">
        <img src="images/28.jpg" alt="" />
      </div>
      <h3>Queen size</h3>
      <h2>K16,500.00</h2>
    </div>
    <div class="item">
      <div class="image">
        <img src="images/30.jpg" alt="" />
      </div>
      <h3>Wish Arm Chair</h3>
      <h2>K2,200 Fabric <br />K2,600 Rexin</h2>
    </div>
    <div class="item">
      <div class="image">
        <img src="images/21.jpg" alt="" />
      </div>
      <h3>Solo sofa</h3>
      <h2>K5,500</h2>
    </div>
    <div class="item">
      <div class="image">
        <img src="images/19.jpg" alt="" />
      </div>
      <h3>Name of Furniture</h3>
      <h2>$300.00</h2>
    </div>
    <div class="item">
      <div class="image">
        <img src="images/5.jpg" alt="" />
      </div>
      <h3>Name of Furniture</h3>
      <h2>$500.00</h2>
    </div>
    <div class="item">
      <div class="image">
        <img src="images/26.jpg" alt="" />
      </div>
      <h3>Name of Furniture</h3>
      <h2>$400.00</h2>
    </div>
    <div class="item">
      <div class="image">
        <img src="images/16.jpg" alt="" />
      </div>
      <h3>Name of Furniture</h3>
      <h2>$100.00</h2>
    </div>
    <div class="item">
      <div class="image">
        <img src="images/18.jpg" alt="" />
      </div>
      <h3>Study Desk</h3>
      <h2>k7,500</h2>
    </div>
  </div>
  <div class="more-button">
    <a href="explore.html" class="btn">View More</a>
  </div>
</section>

<%- include('partials/review') %>
<%- include('partials/footer') %>