.explore {
    width: 100%;
    overflow: hidden;
  }

  .explore .container {
    width: 100%;
    height: 50vh;
    margin: auto;
    /* display: flex; */
    /* justify-content: space-around; */
    background: url(../images/explore.jpg);
    background-size: cover;
    text-align: center;
    align-content: center;
  }
  .explore .text {
    width: 60%;
    margin: auto;
  }
  .explore .container p {
    font-size: 26px;
    font-weight: 400;
  }
  .explore .image {
    width: 55%;
  }
  .explore h1 {
    color: #966947;
  }
  .explore p {
    margin: 40px 0;
    color: #966947;
    font-weight: 400;
  }
  /* In furniture-section Section  */
  .furniture-section {
    width: 90%;
    margin: auto;
    padding: 70px 0;
  }
  .furniture-section h1 {
    text-align: center;
    font-size: 28px;
    padding: 10px;
    margin: 2rem 0;
    background: rgba(150, 105, 71, 1);
    color: #fff;
  }
  .furniture-section p {
    text-align: center;
    width: 80%;
    margin: auto;
  }
  .furniture-section .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    overflow: hidden;
    justify-items: center;
    background-color: #fff;
  }
  .furniture-section .container .item {
    width: 300px;
    position: relative;
    height: 400px;
    /* max-height: 300px; */
    /* position: absolute; */
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    margin: 20px;
  }
  .furniture-section .container .item .image {
    height: 300px;
    background-color: #fff;
    border-radius: 0.5rem 0.5rem 0 0;
  }
  .furniture-section .item h2 {
    color: #333;
    margin-top: 15px;
    margin-left: 15px;
  }
  .furniture-section .item h3 {
    color: #666;
    margin-top: 15px;
    margin-left: 15px;
  }
  .furniture-section .item img {
    /* max-width: 400px; */
    max-height: 100%;
    width: 100%;
    object-fit: contain;
    /* object-fit: contain; */
    border-radius: 0.5rem 0.5rem 0 0;
  }
    /* In furniture-section Section ends  */
      