html {
  scroll-behavior: smooth;
}
/*-----------------------------------------------------------------------------------------------------*/
/*                                                Footer                                               */
/*-----------------------------------------------------------------------------------------------------*/

footer {
  padding: 50px 0;
  margin-top: 100px;
  margin-bottom: 10px;
  background: #333;
}
footer .content {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: auto;
}

footer .content h2 {
  color: #fff;
  font-size: 21px;
  margin-bottom: 10px;
}

footer li {
  text-decoration: none;
  list-style: none;
}
footer li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.contact-btn {
  background: #333;
  /* padding: 10px; */
  color: #fff;
}
.contact-btn .btn {
  border: 3px solid #fff;
  background-color: #333;
}
.contact-btn a {
  color: #fff;
  text-decoration: none;
}
.footer {
  width: 100%;
}
.footer .social-media {
  width: fit-content;
  /* margin-left: 85%; */
  position: absolute;
  right: 0;
}
.footer .social-media i {
  font-size: 50px;
  color: black;
  margin-right: 20px;
}
.footer .credit {
  text-align: center;
  margin: auto;
  width: 100%;
}
footer .content span.list {
  color: #fff;
  margin-right: 5px;
  margin-top: 50px;
}
@media only screen and (max-width: 750px) {
  footer {
    padding: 10px 0;
    padding-bottom: 0;
  }
  footer .content {
    width: 100%;
    display: block;
  }
  footer .content h2 {
    font-size: 18px;
  }

  footer .content div {
    margin: 40px 0;
  }
  footer .content .links {
    margin-left: 40px;
  }
  .contact-btn {
    /* background: var(--nude); */
    /* padding: 10px; */
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
  }
  .contact-btn .btn {
    border: 3px solid #fff;
    display: flex;
    width: 150px;
    justify-content: space-around;
  }
  .contact-btn a {
    font-size: 18px;
  }
  .footer .credit {
    position: absolute;
    margin-top: 50px;
  }
  .footer .credit p {
    font-size: 14px;
  }
  .footer .social-media i {
    font-size: 30px;
    margin-right: 5px;
  }

}
