.user{
    margin-top: 100px;
}
.user h1{
    text-align: center;
}
.forms{
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px 80px;
}

/* Form container */
.form-container {
    flex-grow: 1;
    width: 60%;
    /* max-width: 600px; */
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}
.password-container{
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    flex-basis: 300px;
}

/* Form group */
.form-group {
    margin-bottom: 15px;
}

/* Labels */
.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Input fields */
.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    text-transform: none;
}

/* Submit button */
.submit-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #45a049;
}

/* Text center class */
.text-center {
    text-align: center;
}
