:root {
  --nude: #966947;
}
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  font-family: sans-serif;
  text-transform: capitalize;
  transition: 0.2s linear;
}
h1 {
  font-size: 50px;
  color: #333;
}
p {
  font-size: 18px;
  color: #999;
  line-height: 1.5;
}
.btn {
  text-decoration: none;
  font-size: 23px;
  color: #fff;
  background: #966947;
  border-radius: 5px;
  padding: 5px 20px;
}
.home {
  width: 100%;
  overflow: hidden;
}
.home .top-bar {
  display: flex;
  justify-content: space-around;
  background: #333;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 2;
}
/* .logo a {
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
}
.logo span {
  color: #d60505;
  font-size: 40px;
} */
.logo img {
  height: 78px;
  position: absolute;
  top: 0;
  left: 50px;
}
.home i {
  display: none;
}
.home nav {
  margin-top: 10px;
}
.top-bar nav ul {
  display: flex;
  justify-content: space-between;
}
.top-bar nav ul li a {
  color: #fff;
  margin: 0 20px;
  font-size: 23px;
  text-decoration: none;
}
.top-bar nav ul li {
  list-style: none;
}

.home .container {
  width: 100%;
  height: 70vh;
  margin: auto;
  /* display: flex; */
  /* justify-content: space-around; */
  background: url(../images/background1.jpg);
  background-size: cover;
}
.home .text {
  width: 38%;
  align-content: top;
  padding-top: 8%;
  margin-left: 10%;
}
.home .image {
  width: 55%;
}
.home h1 {
  color: #966947;
}
.home p {
  margin: 40px 0;
  color: #966947;
  font-weight: 400;
}

/* The service section  */

.services {
  padding-top: 110px;
  width: 90%;
  margin: auto;
  text-align: center;
}
.services h1 {
  margin-bottom: 15px;
  color: #333;
}
.services p {
  width: 80%;
  margin: auto;
}
.services span {
  color: #966947;
}
.services p {
  margin-bottom: 30px;
}
.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
  overflow: hidden;
  justify-items: center;
  padding: 20px 0;
}
.services .container div {
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 40px 40px 20px 40px;
}
.services .container h2 {
  /* color: #966947; */
  color: #333;
  margin: 10px;
}
.services .container p {
  width: 300px;
}

.services i {
  font-size: 70px;
  color: var(--nude);
}

/* Best Selling Section  */

.best-selling {
  background-color: rgba(0, 0, 0, 0.03);
  /* background: #966947; */
  padding-top: 50px;
  margin-top: 150px;
}
/* .best-selling .title {
  background: var(--blue);
  width: 90%;
  margin: auto;
} */
.best-selling h1 {
  text-align: center;
}
.best-selling .slider-item h2 {
  color: #333;
  margin-top: 15px;
  margin-left: 15px;
}
.best-selling .slider-item h3 {
  color: #666;
  margin-top: 15px;
  margin-left: 15px;
}
.best-selling span {
  color: #966947;
}
.best-selling .container {
  width: 100%;
  min-height: 60vh;
  /* padding: 0px 8%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}
.best-selling .container .slider {
  position: relative;
  width: 100%;
  height: 400px;
  /* background-color: lightgreen; */
  overflow: hidden;
  z-index: -1;
  /* margin: 40px 0; */
  margin-bottom: 0;
  z-index: 1;
}
.slider .slider-item {
  /* width: 100px; */
  height: 400px;
  /* max-height: 300px; */
  position: absolute;
  top: 0;
  left: 0;
  transition: left 0.5s cubic-bezier(0.645, 0.045, 0.354, 1);
  overflow: hidden;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.slider .slider-item .image {
  height: 300px;
  background-color: #fff;
}
.slider-item h2 {
  color: #666;
  margin-top: 15px;
  margin-left: 15px;
}
.slider-item img {
  /* max-width: 400px; */
  max-height: 100%;
  width: 400px;
  object-fit: contain;
  /* object-fit: contain; */
  border-radius: 0;
}
.slider-item:nth-child(1) {
  left: calc(-200px + -40px);
}
.slider-item:nth-child(2) {
  left: 180px;
}
.slider-item:nth-child(3) {
  left: calc(400px + 200px);
}
.slider-item:nth-child(4) {
  left: calc((400px + 110px) * 2);
}
.slider-item:nth-child(5) {
  left: calc((400px + 80px) * 3);
}
.slider-item:nth-child(6) {
  left: calc((400px + 30px) * 4);
}
.slider-item:nth-child(7) {
  left: calc((400px + 15px) * 5);
}
.slider-item:nth-child(8) {
  left: calc((400px + 5px) * 6);
}

/* In Stock Section  */
.stock {
  width: 90%;
  margin: auto;
  padding: 70px 0;
}
.stock h1 {
  text-align: center;
}
.stock span {
  color: #966947;
}
.stock p {
  text-align: center;
  width: 80%;
  margin: auto;
}
.stock .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
  overflow: hidden;
  justify-items: center;
  background-color: #fff;
  padding: 20px 0;
}
.stock .container .item {
  width: 400px;
  position: relative;
  height: 400px;
  /* max-height: 300px; */
  /* position: absolute; */
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  /* margin: 20px; */
}
.stock .container .item .image {
  height: 300px;
  background-color: #fff;
  border-radius: 0.5rem 0.5rem 0 0;
}
.stock .item h2 {
  color: #333;
  margin-top: 15px;
  margin-left: 15px;
}
.stock .item h3 {
  color: #666;
  margin-top: 15px;
  margin-left: 15px;
}
.stock .item img {
  /* max-width: 400px; */
  max-height: 100%;
  width: 400px;
  object-fit: contain;
  /* object-fit: contain; */
  border-radius: 0.5rem 0.5rem 0 0;
}
.stock .more-button {
  width: 100%;
  margin-top: 20px;
  /* align-items: center; */
  display: flex;
}
.stock .more-button .btn {
  margin: auto;
}

/* The customer review section  */
.customer-review {
  padding: 2rem 9%;
}
.customer-review .heading {
  text-align: center;
  /* font-size: 4rem; */
  color: #333;
  padding: 1rem;
  margin: 2rem 0;
  background: rgba(150, 105, 71, 1);
}
.heading span {
  color: #fff;
}
.customer-review .container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.customer-review .container .box {
  flex: 1 1 20rem;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 3rem 2rem;
  position: relative;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
}
.customer-review .container .box .customer {
  display: flex;
  align-items: center;
  padding-top: 2rem;
}
.customer-review .container .box p {
  color: #999;
  font-size: 18px;
  line-height: 1.5;
  padding-top: 2rem;
}
.customer-review .container .box .customer img {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  object-fit: cover;
  margin: 1rem;
}
.customer-review .container .box .customer h3 {
  font-size: 2rem;
  color: #333;
}

.customer-review .container .box .customer span {
  font-size: 1.5rem;
  color: #999;
}
/* The customer review section ends  */
